<div class="rail-label min">
  {{#if unitPrefix}}
    {{units}}{{currentMin}}
  {{else}}
    {{currentMin}}{{units}}
  {{/if}}
</div>
<div class="rail"
     style="width: 300px;"
     title={{title}}>
  {{slider-thumb
    src="images/min-arrow.png"
    minValue=minValue
    maxValue=maxValue
    currentValue=currentMin
    label=minLabel
    min=true
    onSlide=(action (mut currentMin))
    units=units
    unitPrefix=unitPrefix
  }}
  {{slider-thumb
    src="images/max-arrow.png"
    minValue=minValue
    maxValue=maxValue
    currentValue=currentMax
    label=maxLabel
    onSlide=(action (mut currentMax))
    units=units
    unitPrefix=unitPrefix
  }}
</div>
<div class="rail-label max">
  {{#if unitPrefix}}
    {{units}}{{currentMax}}
  {{else}}
    {{currentMax}}{{units}}
  {{/if}}
</div>

